@font-face {
    font-family: 'Melodrama';
    src: url('Melodrama-Medium.woff2') format('woff2'),
        url('Melodrama-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

